:root {
  --primary-color: #F5DEB3;
  --text-color: #444;
}

body {
  background-color: var(--primary-color);
  margin: 40px auto;
  max-width: 750px;
  line-height: 1.5;
  font-size: 18px;
  color: var(--text-color);
  padding: 0 10px;
}

hr {
  border-color: black;
}

h1, h2, h3 {
  line-height: 1;
}

.general-btn {
  border: 0;
  background-color: var(--primary-color);
  color: var(--text-color);
}

#site-header-without-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#site-header #main-menu-button {
  text-decoration: none;
  padding-top: 0;
  font-size: 12px;
}

#site-header #main-menu-button:active {
  text-decoration: none;
}
